@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root{
	--bg: #000000;
	--bg-1: #010101;
	--fg: #ffffff;
}

:root{
	--sidebar-size: 260px;

	--navbar-height: 70px;
}

body{
	background: var(--bg);
	color: var(--fg);
	font-family: 'Inter', sans-serif;
	margin: 0;
}


body > .main {
	display: flex;

	.sidebar {
		width: var(--sidebar-size);
		height: 100dvh;
		background: var(--bg-1);
		overflow: auto;
	}

	& > .main-view {
		height: 100dvh;
		overflow: hidden;
		width: calc(100% - var(--sidebar-size));

		& > .navbar{
			height: var(--navbar-height);
			background: var(--bg-1);
		}

		& > .main-content{
			width: 100%;
			height: calc(100dvh - var(--navbar-height));
			overflow: auto;
		}
	}

}



.navbar .title{
	line-height: 40px;
	font-weight: 700;
	padding-left: 20px;
	font-size: 34px;

	.title-links{
		width: 100%;
		display: flex;
		gap: 15px;
		flex-wrap: nowrap;
		overflow-x: scroll;
		height: 30px;
		line-height: 30px;
		background: black;
		padding-right: 100px;


		&::-webkit-scrollbar{
			display: none;
		}
	}

	a {
		font-size: 12px;
		text-wrap: nowrap;
		width: auto;

		background: white;
		color: black;
		text-decoration: none;
		padding: 0px 10px;
		line-height: 20px;
		box-sizing: border-box;
		border-radius: 15px;
		height: 20px;
		margin-top: 5px;
		transition: .2s;

		&:hover, &.active{
			background: #cba6f7;
		}
	}
}

.navbar{
	padding-top: 30px;
	border-bottom: 1px solid white;
	transition: .3s;
}

body.scrolled-page{

	&:not(:has(.navbar .title .title-links)){
		--navbar-height: 40px !important;
	}

	.navbar{
		padding-top: 0px;

		.title{
			font-size: 24px;
			text-align: center;
		}
	}
}


code[class*="language-"],
pre[class*="language-"] {
	color: white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	border-radius: 15px;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #181825;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9399b2;
}

.token.punctuation {
	color: #a6adc8;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #cba6f7;
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
	color: #f38ba8;
}

.token.operator,
.token.entity,
.token.url,
.token.string,
.token.char,
.language-css .token.string,
.style .token.string {
	color: #a6e3a1;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #74c7ec;
}

.token.function{
 color: #89b4fa;
}
.token.class-name {
	color: #f9e2af;
}

.token.regex,
.token.important,
.token.variable {
	color: #f9e2af;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.sidebar {
	.title-bar{
		display: flex;
		height: 30px;
		gap: 20px;
		padding: 10px 20px;

		.title{
			line-height: 30px;
			font-weight: 700;
			font-size: 24px;
		}
	}
}

.sidebar-menu{
	list-style: none;
	padding-left: 0;

	.item-group{
		padding-left: 20px;
		user-select: none;

		summary{
			cursor: pointer;
			padding: 5px 10px;
			border-radius: 12px;

			&:hover{
				background-color: #1e1e2e;
			}

			&:focus{
				outline: 0;
			}
		}
	}

	li{
		list-style: none;
		padding: 5px 10px;
		border-radius: 12px;
		margin: 5px;
		cursor: pointer;

		a {
			text-decoration: none;
			color: #74c7ec;
			font-weight: 700;
			font-size: 12px;
		}

		&:hover{
			background-color: #1e1e2e;
		}

		&.active{
			background-color: #ffffff;

			a{
				color: #1e1e2e;
			}
		}
	}
}

table {
  width: 100%;
	border-collapse: collapse;
	--table-borders: #cba6f7;
	--table-bg: #000000;

	tr > *:not(:last-child) {
		border-right: 2px solid var(--table-borders);
	}

	thead{
		background: var(--table-borders);
		color: 2px solid var(--table-bg);

		th{
			border-color: var(--table-bg) !important;
		}
	}

	td {
		padding: 5px 10px;
	}
}

.btn{
	position: relative;
	padding: 8px 16px;
	background-color: white;
	color: black;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px;
	border: 4px solid transparent;
	transition: .2s;
}

.btn::before {
	background: currentColor;
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: calc(50% - 12px);
	transform: scale(1.4);
}

.btn:not(.next){
	padding-left: 40px;
}

.btn.next{
	padding-right: 40px;
}

.btn:not(.next)::before{
	left: 10px;
	clip-path: path("M15 6L9 12L15 18M15 12H15.01");
}

.btn:not(:hover).next, .btn:not(.next):hover{
	color: white;
	border-color: white;
	background: transparent;
}

.btn.next::before{
	clip-path: path("M9 6L15 12L9 18M9 12H9.01");
	right: 10px;
}


a{
	color: white;
	font-weight: bold;

	&:hover{
		text-decoration: none;
	}
}


.sidebar-toggle{
	display: none;
	width: 20px;
	height: 20px;
	background: white;
	position: absolute;
	left: 20px;
	top: 10px;
	border-radius: 15px;
	cursor: pointer;
}

@media only screen and (max-width: 700px){
	.sidebar{
		position: absolute;
		left: calc(-1 * var(--sidebar-size));
		height: calc(100dvh - (var(--navbar-height) + 1px)) !important;
		top: calc(var(--navbar-height) + 1px);
		z-index: 10;
		transition: .2s;
	}

	.sidebar-toggle{
		display: block;
	}

	body.sidebar-open .sidebar{
		left: 0;
	}

	.navbar{
		padding-left: 30px;
	}

	.main-view{
		width: 100vw !important;
	}
}

blockquote{
	margin: 10px 0;
	padding: 10px;
	padding-left: 30px;
	background: rgba(202, 166, 247, 0.38);
	border-radius: 10px;
}

h2,h3,h4,h5,h6{

	cursor: pointer;

	&::before{
		content: "";
		transition: .5s;
		width: 0px;
		margin-right: 0;
		height: 20px;
		display: inline-block;
		background: currentColor;
		clip-path: path("m 4.7836633,0.07642224 0.402645,0.4273 -0.410886,-0.28403 6.2181337,6.59842006 0.227091,-0.10726 1.749455,-0.82698 -0.11976,-0.0828 0.127933,-0.0605 z m 12.6689637,0.87054004 -4.353916,7.95287002 0.214392,0.2275 -0.03512,0.0677 1.450832,1.6258397 2.762451,-9.7529097 -0.176837,0.34118 z M 7.9600403,5.8130223 0.04088232,11.856272 l 0.578874,-0.27363 -0.524634,0.40035 8.19697598,-3.8748097 -0.03202,-0.25005 -0.245801,-1.91839 -0.03458,0.0264 z m 2.7047657,1.67542 a 1.8027919,1.8027919 0 0 0 -0.296192,0.0269 1.8027919,1.8027919 0 0 0 -1.6024737,1.7885 1.8027919,1.8027919 0 0 0 1.8028177,1.8027497 1.8027919,1.8027919 0 0 0 0.296461,-0.027 1.8027919,1.8027919 0 0 0 1.602137,-1.7883597 1.8027919,1.8027919 0 0 0 -1.80275,-1.80282 z m -4.1865347,3.1195697 3.300257,9.3991 -0.08166,-0.63757 0.226551,0.64528 -1.130662,-8.8251 -0.183726,-0.19879 -1.985869,-0.37522 0.0074,0.0211 z m 5.1787257,0.97848 c -0.09306,0.14061 -0.163173,0.2448 -0.163259,0.24493 l -1.36e-4,6e-5 -0.912892,1.66752 9.958929,-0.23431 z");
	}

	&:hover::before{
		width: 20px;
		margin-right: 5px;
	}
}

#loader-widget{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 999;

	&::before{
		content: "";
		width: 140.6px;
		height: 136.927px;
		display: block;
		position: absolute;
		top: calc(50% - 70.3px);
		left: calc(50% - 68.4635px);
		
		background: white;
		clip-path: path("M 32.720926,0.39048395 35.47568,3.3139196 32.664543,1.3706867 75.206819,46.514748 76.760496,45.780912 88.729649,40.123006 87.910293,39.556518 88.785566,39.142599 Z M 119.3975,6.3464115 89.609548,60.757141 91.076342,62.313616 90.836063,62.776795 100.76214,73.900216 119.66186,7.174251 118.452,9.5084842 Z M 54.452575,39.638276 0.27249263,80.984057 4.2329442,79.111978 0.64358355,81.851031 56.7244,55.340951 56.505331,53.630197 54.823646,40.50525 54.587062,40.68587 Z M 72.957629,51.10091 A 12.334066,12.334066 0 0 0 70.931187,51.284949 12.334066,12.334066 0 0 0 59.967627,63.521234 12.334066,12.334066 0 0 0 72.30187,75.855011 12.334066,12.334066 0 0 0 74.330152,75.670287 12.334066,12.334066 0 0 0 85.291408,63.434961 12.334066,12.334066 0 0 0 72.957629,51.100704 Z m -28.642793,21.342994 22.579193,64.305326 -0.558689,-4.36203 1.549981,4.41478 -7.735588,-60.378222 -1.25699,-1.36005 -13.586615,-2.567125 0.05063,0.144363 z m 35.431013,6.694414 c -0.636684,0.962003 -1.116372,1.674835 -1.11696,1.675725 l -9.31e-4,4.1e-4 -6.245685,11.408583 68.135477,-1.603067 z");	
		animation: 1s infinite keep-rotating;
	}

	@keyframes keep-rotating {
		0%{
			transform: rotate(0);
		}
		100%{
			transform: rotate(360deg);
		}
	}
}

body > .main .animate-up, code .token {
	animation: 1s 1 fadeUp;
	animation-fill-mode: backwards;
}

@for $i from 1 through 100 {
  body > .main .animate-up:nth-child(#{$i}),  code .token:nth-child(#{$i}) {
		animation-delay: 200ms * $i;
	}
}

@keyframes fadeUp {
	0%{
		opacity: 0;
		margin-top: 100px;
	}
	100%{
		opacity: 1;
		margin-top: 0;
	}
}