@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root{
	--bg: #000000;
	--bg-1: #010101;
	--fg: #ffffff;
}

:root{
	--sidebar-size: 260px;

	--navbar-height: 40px;
}

body{
	background: var(--bg);
	color: var(--fg);
	font-family: 'Inter', sans-serif;
	margin: 0;
}

body > .main {
	display: flex;

	.sidebar {
		width: var(--sidebar-size);
		height: 100dvh;
		background: var(--bg-1);
		overflow: auto;
	}

	& > .main-view {
		height: 100dvh;
		overflow: hidden;
		width: calc(100% - var(--sidebar-size));

		& > .navbar{
			height: var(--navbar-height);
			background: var(--bg-1);
		}

		& > .main-content{
			width: 100%;
			height: calc(100dvh - var(--navbar-height));
			overflow: auto;
		}
	}

}


code[class*="language-"],
pre[class*="language-"] {
	color: white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	border-radius: 15px;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #181825;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9399b2;
}

.token.punctuation {
	color: #a6adc8;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #cba6f7;
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
	color: #f38ba8;
}

.token.operator,
.token.entity,
.token.url,
.token.string,
.token.char,
.language-css .token.string,
.style .token.string {
	color: #a6e3a1;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #74c7ec;
}

.token.function{
 color: #89b4fa;
}
.token.class-name {
	color: #f9e2af;
}

.token.regex,
.token.important,
.token.variable {
	color: #f9e2af;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.sidebar {
	.title-bar{
		display: flex;
		height: 30px;
		gap: 20px;
		padding: 10px 20px;

		.title{
			line-height: 30px;
			font-weight: 700;
			font-size: 24px;
		}
	}
}

.sidebar-menu{
	list-style: none;
	padding-left: 0;

	.item-group{
		padding-left: 20px;
		user-select: none;

		summary{
			cursor: pointer;
			padding: 5px 10px;
			border-radius: 12px;

			&:hover{
				background-color: #1e1e2e;
			}

			&:focus{
				outline: 0;
			}
		}
	}

	li{
		list-style: none;
		padding: 5px 10px;
		border-radius: 12px;
		margin: 5px;
		cursor: pointer;

		a {
			text-decoration: none;
			color: #74c7ec;
			font-weight: 700;
			font-size: 12px;
		}

		&:hover{
			background-color: #1e1e2e;
		}

		&.active{
			background-color: #ffffff;

			a{
				color: #1e1e2e;
			}
		}
	}
}


.navbar .title{
	line-height: 40px;
	font-weight: 700;
	font-size: 24px;
	padding-left: 20px;
}

table {
  width: 100%;
	border-collapse: collapse;
	--table-borders: #cba6f7;
	--table-bg: #000000;

	tr > *:not(:last-child) {
		border-right: 2px solid var(--table-borders);
	}

	thead{
		background: var(--table-borders);
		color: 2px solid var(--table-bg);

		th{
			border-color: var(--table-bg) !important;
		}
	}

	td {
		padding: 5px 10px;
	}
}

.btn{
	position: relative;
	padding: 15px 30px;
	background-color: white;
	color: black;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px;
	border: 4px solid transparent;
	transition: .2s;
}

.btn::before {
	background: currentColor;
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: calc(50% - 12px);
	transform: scale(1.4);
}

.btn:not(.next){
	padding-left: 40px;
}

.btn.next{
	padding-right: 40px;
}

.btn:not(.next)::before{
	left: 10px;
	clip-path: path("M15 6L9 12L15 18M15 12H15.01");
}

.btn:not(:hover).next, .btn:not(.next):hover{
	color: white;
	border-color: white;
	background: transparent;
}

.btn.next::before{
	clip-path: path("M9 6L15 12L9 18M9 12H9.01");
	right: 10px;
}

.github-corner{
	position: fixed;
	top: 0;
	right: -40px;
	width: 120px;
	height: 120px;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

a{
	color: white;
	font-weight: bold;

	&:hover{
		text-decoration: none;
	}
}


.sidebar-toggle{
	display: block;
	width: 20px;
	height: 20px;
	background: white;
	position: absolute;
	left: 20px;
	top: 10px;
	border-radius: 15px;
}

@media only screen and (max-width: 700px){
	.sidebar{
		position: absolute;
		left: calc(-1 * var(--sidebar-size));
		height: calc(100dvh - var(--navbar-height));
		top: var(--navbar-height);
		z-index: 10;
		transition: .2s;

		.sidebar-toggle{
			display: block;
		}
	}

	body.sidebar-open .sidebar{
		left: 0;
	}

	.navbar{
		padding-left: 30px;
	}

	.main-view{
		width: 100vw !important;
	}
}